<div class="posts-container">
    <div class="posts-header">
        <h1>Blog Posts</h1>
        <p class="posts-subtitle">By: Cris Jerome Hilario</p>
    </div>
    <div class="posts-list">
        <a href="/posts/{{ post.id }}" class="post-card-link" *ngFor="let post of posts">
            <article class="post-card">
                <h3>{{ post.title }}</h3>
                <div class="post-meta">
                    <span class="post-author">{{ post.firstName }} {{ post.lastName }}</span>
                    <span class="post-divider">•</span>
                    <span class="post-date">{{ post.dateCreated }}</span>
                </div>
            </article>
        </a>
    </div>
</div>
