<div>
    <h1>Welcome Back</h1>
    <h3>Login Here</h3>
    <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
        <div>
            <label for="username">Email</label>
            <input
                required
                type="text"
                name="username"
                [(ngModel)]="form.username"
                #username="ngModel">
            <label for="password">Password</label>
            <input type="password"
                name="password"
                [(ngModel)]="form.password"
                required
                #password="ngModel">
        </div>
        <button>Submit</button>
    </form>
</div>