<div class="auth-container">
    <div class="auth-card">
        <h1>Welcome Back</h1>
        <p class="subtitle">Login to continue</p>
        <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="username">UserName</label>
                <input
                    required
                    type="text"
                    name="username"
                    [(ngModel)]="form.username"
                    #username="ngModel"
                    placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    #password="ngModel"
                    placeholder="Enter your password">
            </div>
            <button type="submit">Login</button>
        </form>
        <p class="auth-switch">
            Don't have an account? <a href="/register">Sign up</a>
        </p>
    </div>
</div>