<div class="post-detail-container">
    <div class="post-detail-header">
        <a href="/posts" class="back-link">← Back to Posts</a>
        <h1 class="post-title">{{ post?.title }}</h1>
        <div class="post-meta">
            <span class="post-author">{{ post?.firstName }} {{ post?.lastName }}</span>
            <span class="post-divider">•</span>
            <span class="post-date">{{ post?.dateCreated }}</span>
        </div>
    </div>
    <article class="post-content">
        <p>{{ post?.body }}</p>
    </article>
</div>